/* ==================
          flex
 ==================== */
.wui-flex {
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
}

.wui-flex-inline {
  display: inline-flex;
}

.wui-flex-item {
  flex: 1;
}

.wui-flex-1by1 {
  flex: 1 1;
}

.wui-feed {
  flex-direction: row !important;
  flex-wrap: wrap;
}

.wui-row {
  flex-direction: row !important;
}

.wui-col {
  flex-direction: column !important;
}

/* -- 主轴（横轴） -- */
.wui-justify-center {
  justify-content: center;
}

.wui-justify-left {
  justify-content: flex-start !important;
}

.wui-justify-right {
  justify-content: flex-end !important;
}

.wui-justify-between {
  justify-content: space-between !important;
}

.wui-justify-around {
  justify-content: space-around !important;
}

/* -- 齐交叉轴（垂直） -- */
.wui-align-center {
  align-items: center;
}

.wui-align-top {
  align-items: flex-start;
}

.wui-align-bottom {
  align-items: flex-end;
}

.wui-align-txt {
  align-items: baseline;
}