$menuBgColor = #304156
$menuTextColor = #bfcbd9

$subMenuBg = #1f2d3d;
$subMenuHover = #001528;

$sideBarWidth = 210px
$hideSideBarWidth = 54px

:export {
  menuBgColor: $menuBgColor;
  menuTextColor: $menuTextColor
}